# Penda Healthcare Casestudy

- Using Python Pandas and Numpy to answer several questions regarding the data.
- The four datasets are: 
    - List of invoices
    - Products data
    - Diagnosis data
    - Visit data

## Questions
1.	How many valid visits did Lucky Summer and Kangemi medical centers' have between February 2023 and August 2023?
2.	How many valid visits did Lucky Summer and Kangemi medical centers' have between February 2023 and August 2023?
3.	Which payor was the most profitable (in absolute/whole numbers) for Penda Health in 2023? Submit payor name only {Assume a gross average margin of 30% per visit}
4.	Which medical center was the least profitable (in absolute/whole numbers) in 2023? Submit medical center name only {Assume a gross average margin of 30% per visit}
5.	What was the average spend per visit for visits that had a pharmacy product dispensed?
6.	At Penda Health, we have a blended healthcare model where patients can get treatment physically (by visiting a medical centers) and virtually (through our call center). In 2023, how many unique patients experienced a blended healthcare approach in their healthcare journey?
7.	Calculate the Net Promoter Score (NPS) in Q2 2023. {Please note that valid NPS scores range from 0 to 10}
8.	In 2023 what proportion of visits in Penda Health were second visits?{A first visit is when a patient visits Penda Health for the very first time, a second visit is when the same patient visits again i.e. a second time and so on}
9.	What percent of visits in November 2023 happened within 30 days of the preceding visit by the same patient?

In [25]:
# load the libraries

import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
# loading the datasets

invoices = pd.read_excel(r'C:\Users\User\Downloads\Penda Health\Invoice Table.xlsx')

products = pd.read_excel(r'C:\Users\User\Downloads\Penda Health\Product Table.xlsx')

visits = pd.read_excel(r'C:\Users\User\Downloads\Penda Health\Visit Table.xlsx')

diagnosis = pd.read_excel(r'C:\Users\User\Downloads\Penda Health\Diagnosis Table.xlsx')

In [27]:
# display the tables

tables = [invoices, products, visits, diagnosis]

for table in tables:
    print(table.head(5))
    print('*'*20)

            InvoiceId             VisitId  Amount
0  69c39ae5-2aa5-4323  5f3b21fb-3e10-405a     100
1  436af296-78e9-4122  7e83e39a-3078-4107     100
2  3804fe69-ee8f-46f3  e61fe672-ba13-4faf     100
3  4ae81047-f444-43bb  ff0f224b-20fc-41ef     100
4  e4450722-0d40-45e8  6b8bf9e5-3ca4-4e64     100
********************
            InvoiceId ProductCategory
0  e3bea910-e855-48cd        Pharmacy
1  94209337-5de5-4993        Pharmacy
2  b0b9a8d3-b211-446e        Pharmacy
3  9abc1d2c-7f76-4e63        Pharmacy
4  48b281fc-024d-4c8e        Pharmacy
********************
              VisitId           PatientId       VisitDateTime  VisitMonth  \
0  6faf2731-4051-42d7  bc71b48b-9ba7-4b32 2023-12-12 06:47:25          12
1  e02b3795-0b44-45dd  1e6d745c-f142-47e2 2023-08-16 13:29:17           8
2  ab0b28e1-5b3b-4088  066af2c2-6c83-4e43 2023-12-16 12:45:31          12
3  04360fd4-324c-45a5  04f3c148-263e-42c7 2023-10-26 19:02:56          10
4  f12efc50-30d2-4bba  7ff8a9a4-e3ce-4e55 2023-04-09 23:16:01           4

   VisitYear MedicalCenter Payor     VisitType  NPS Score
0       2023   Call Centre  CASH  Telemedicine        NaN
1       2023   Call Centre  CASH  Telemedicine        NaN
2       2023   Call Centre  CASH  Telemedicine        NaN
3       2023   Call Centre  CASH  Telemedicine        NaN
4       2023   Call Centre  CASH  Telemedicine        NaN
********************
              VisitId                                    Diagnosis
0  628d16e7-6591-4e5f  uncomplicated urinary tract infection (uti)
1  826cc6ee-40a0-458a  uncomplicated urinary tract infection (uti)
2  9a9a0196-89f0-4dbf  uncomplicated urinary tract infection (uti)
3  2e1ce2f1-a282-4343  uncomplicated urinary tract infection (uti)
4  c30cf2ac-fd8b-4bd2  uncomplicated urinary tract infection (uti)
********************

In [28]:
# understand the data


tables = [invoices, products, visits, diagnosis]

for table in tables:
    print(table.info())
    print('*'*10)
    print(table.describe())
    print('*'*10)
    print(table.shape)
    print('*'*80)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50139 entries, 0 to 50138
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   InvoiceId  50139 non-null  object
 1   VisitId    50139 non-null  object
 2   Amount     50139 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.1+ MB
None
**********
             Amount
count  50139.000000
mean    1426.719460
std     1679.734163
min        0.000000
25%      195.000000
50%      900.000000
75%     2119.000000
max    84520.000000
**********
(50139, 3)
********************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145673 entries, 0 to 145672
Data columns (total 2 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceId        145673 non-null  object
 1   ProductCategory  145673 non-null  object
dtypes: object(2)
memory usage: 2.2+ MB
None
**********
                 InvoiceId ProductCategory
count               145673          145673
unique               50139               4
top     856bfb2f-cc93-4649        Pharmacy
freq                    53           73195
**********
(145673, 2)
********************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49367 entries, 0 to 49366
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   VisitId        49367 non-null  object
 1   PatientId      49367 non-null  object
 2   VisitDateTime  49367 non-null  datetime64[ns]
 3   VisitMonth     49367 non-null  int64
 4   VisitYear      49367 non-null  int64
 5   MedicalCenter  49367 non-null  object
 6   Payor          49367 non-null  object
 7   VisitType      49367 non-null  object
 8   NPS Score      2272 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 3.4+ MB
None
**********
         VisitMonth  VisitYear    NPS Score
count  49367.000000    49367.0  2272.000000
mean       6.685924     2023.0     9.019806
std        3.360159        0.0     2.307122
min        1.000000     2023.0     0.000000
25%        4.000000     2023.0     9.000000
50%        7.000000     2023.0    10.000000
75%       10.000000     2023.0    10.000000
max       12.000000     2023.0    10.000000
**********
(49367, 9)
********************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54827 entries, 0 to 54826
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VisitId    54827 non-null  object
 1   Diagnosis  54827 non-null  object
dtypes: object(2)
memory usage: 856.8+ KB
None
**********
                   VisitId                                    Diagnosis
count                54827                                        54827
unique               45378                                          713
top     7cc9ef9d-590b-42ab  uncomplicated urinary tract infection (uti)
freq                     5                                         2543
**********
(54827, 2)
********************************************************************************

In [29]:
tables = [invoices, products, visits, diagnosis]

for table in tables:
    print(table.columns)
    print('*'*20)

Index(['InvoiceId', 'VisitId', 'Amount'], dtype='object')
********************
Index(['InvoiceId', 'ProductCategory'], dtype='object')
********************
Index(['VisitId', 'PatientId', 'VisitDateTime', 'VisitMonth', 'VisitYear',
       'MedicalCenter', 'Payor', 'VisitType', 'NPS Score'],
      dtype='object')
********************
Index(['VisitId', 'Diagnosis'], dtype='object')
********************

In [30]:
# merging the 4 data frames into 1

penda_df = (products.merge(invoices, 'inner', left_on = 'InvoiceId', right_on = 'InvoiceId').
           merge(visits, 'inner', left_on = 'VisitId', right_on = 'VisitId').
           merge(diagnosis, 'inner', left_on = 'VisitId', right_on = 'VisitId'))

penda_df.head(2)

,InvoiceId,ProductCategory,VisitId,Amount,PatientId,VisitDateTime,VisitMonth,VisitYear,MedicalCenter,Payor,VisitType,NPS Score,Diagnosis
0,e3bea910-e855-48cd,Pharmacy,10360c41-8cb1-4afd,749,123c95fb-6f7f-499d,2023-09-03 14:55:05,9,2023,Lucky Summer,CASH,In-person visit,NaN,"tonsillitis, acute bacterial"
1,e3bea910-e855-48cd,Pharmacy,10360c41-8cb1-4afd,749,123c95fb-6f7f-499d,2023-09-03 14:55:05,9,2023,Lucky Summer,CASH,In-person visit,NaN,"tonsillitis, acute bacterial"

In [31]:
# cleaning the dataset

In [32]:
# removing cash visits with amount of 0
penda1 = penda_df[(penda_df['Payor'] != 'CASH')|(penda_df['Amount'] != 0)]
penda1.head(2)

,InvoiceId,ProductCategory,VisitId,Amount,PatientId,VisitDateTime,VisitMonth,VisitYear,MedicalCenter,Payor,VisitType,NPS Score,Diagnosis
0,e3bea910-e855-48cd,Pharmacy,10360c41-8cb1-4afd,749,123c95fb-6f7f-499d,2023-09-03 14:55:05,9,2023,Lucky Summer,CASH,In-person visit,NaN,"tonsillitis, acute bacterial"
1,e3bea910-e855-48cd,Pharmacy,10360c41-8cb1-4afd,749,123c95fb-6f7f-499d,2023-09-03 14:55:05,9,2023,Lucky Summer,CASH,In-person visit,NaN,"tonsillitis, acute bacterial"

In [33]:
# amounts less than 50

penda = penda1[penda1['Amount']>=50]
penda.head(1)

,InvoiceId,ProductCategory,VisitId,Amount,PatientId,VisitDateTime,VisitMonth,VisitYear,MedicalCenter,Payor,VisitType,NPS Score,Diagnosis
0,e3bea910-e855-48cd,Pharmacy,10360c41-8cb1-4afd,749,123c95fb-6f7f-499d,2023-09-03 14:55:05,9,2023,Lucky Summer,CASH,In-person visit,NaN,"tonsillitis, acute bacterial"

In [34]:
penda.head(5)

,InvoiceId,ProductCategory,VisitId,Amount,PatientId,VisitDateTime,VisitMonth,VisitYear,MedicalCenter,Payor,VisitType,NPS Score,Diagnosis
0,e3bea910-e855-48cd,Pharmacy,10360c41-8cb1-4afd,749,123c95fb-6f7f-499d,2023-09-03 14:55:05,9,2023,Lucky Summer,CASH,In-person visit,NaN,"tonsillitis, acute bacterial"
1,e3bea910-e855-48cd,Pharmacy,10360c41-8cb1-4afd,749,123c95fb-6f7f-499d,2023-09-03 14:55:05,9,2023,Lucky Summer,CASH,In-person visit,NaN,"tonsillitis, acute bacterial"
2,e3bea910-e855-48cd,Consultation,10360c41-8cb1-4afd,749,123c95fb-6f7f-499d,2023-09-03 14:55:05,9,2023,Lucky Summer,CASH,In-person visit,NaN,"tonsillitis, acute bacterial"
3,94209337-5de5-4993,Pharmacy,aaedad15-1fe6-4a24,5518,2ab16db0-1e86-4991,2023-05-07 19:58:48,5,2023,Lucky Summer,Insurance D,In-person visit,NaN,"acute nasopharyngitis, bacterial"
4,94209337-5de5-4993,Pharmacy,aaedad15-1fe6-4a24,5518,2ab16db0-1e86-4991,2023-05-07 19:58:48,5,2023,Lucky Summer,Insurance D,In-person visit,NaN,"acute nasopharyngitis, bacterial"

## Questions
#### Q1: How many valid visits did Lucky Summer and Kangemi medical centers' have between February 2023 and August 2023?

In [35]:
penda[((penda['MedicalCenter']== 'Lucky Summer') | (penda['MedicalCenter']== 'Kangemi'))
      & (penda['VisitMonth'].between(5,8))]['MedicalCenter'].value_counts()

Kangemi         13190
Lucky Summer    12818
Name: MedicalCenter, dtype: int64

#### Q2: What was the most common diagnosis in 2023 for In-person visits in Sunton and Embakasi branches combined? {Submit diagnosis name only}

In [36]:
penda[((penda['MedicalCenter']== 'Embakasi') | (penda['MedicalCenter']== 'Sunton')) 
      & (penda['VisitType']=='In-person visit')]['Diagnosis'].value_counts()[0:10]

acute nasopharyngitis, bacterial               5663
tonsillitis, acute bacterial                   3910
uncomplicated urinary tract infection (uti)    3394
acute gastritis                                3234
acute nasopharyngitis, viral                   3018
acute pharyngitis, bacterial                   2266
gastroenteritis with no dehydration            2042
sepsis, unspecified organism                   1780
pneumonia                                      1657
acute bronchitis                               1417
Name: Diagnosis, dtype: int64

#### Q3: Which payor was the most profitable (in absolute/whole numbers) for Penda Health in 2023? Submit payor name only {Assume a gross average margin of 30% per visit}

In [37]:
# penda.groupby('Payor').Amount.agg(sum)

gross_margin_percent = 0.30

# Explicitly create a copy to avoid SettingWithCopyWarning
healthcare_data = penda.copy()

# Calculate profit per visit
healthcare_data['Profit'] = healthcare_data['Amount'] * gross_margin_percent

# Calculate total profit per payor in 2023
profit_per_payor = healthcare_data.groupby('Payor')['Profit'].sum()

# Identify the payor with the highest total profit
most_profitable_payor = profit_per_payor.idxmax()
most_profitable_payor

'CASH'

#### Q4: Which medical center was the least profitable  (in absolute/whole numbers)  in 2023?  Submit medical center name only {Assume a gross average margin of 30% per visit}

In [38]:
# Assuming a gross average margin of 30% per visit
gross_margin_percent = 0.30

# Explicitly create a copy to avoid SettingWithCopyWarning
healthcare_data = penda.copy()

# Calculate profit per visit
healthcare_data['Profit'] = healthcare_data['Amount'] * gross_margin_percent

# Calculate total profit per medical center in 2023
profit_per_medical_center = healthcare_data.groupby('MedicalCenter')['Profit'].sum()

# Identify the medical center with the lowest profit
least_profitable_medical_center = profit_per_medical_center.idxmin()
least_profitable_medical_center

'Call Centre'

#### Q5: What was the average spend per visit for visits that had a pharmacy product dispensed?

In [39]:
penda[penda['ProductCategory'] == 'Pharmacy']['Amount'].mean()

2771.9491078753076

#### Q6: At Penda Health, we have a blended healthcare model where patients can get treatment physically (by visiting a medical centers) and virtually (through our call center). In 2023, how many unique patients experienced a blended healthcare approach in their healthcare journey?

In [40]:
penda[(penda['VisitYear'] == 2023) & (penda['VisitType'].str.contains('call center', case=False, na=False))]['PatientId'].nunique()

0

In [41]:
penda.groupby('PatientId')['VisitType'].apply(lambda x: any('In-person visit' in vt.lower() for vt in x) and any('Telemedicine' in vt.lower() for vt in x)).sum()

0

#### Q7: Calculate the Net Promoter Score (NPS) in Q2 2023. {Please note that valid NPS scores range from 0 to 10}

In [42]:
# Explicitly create a copy to avoid SettingWithCopyWarning
healthcare_data = penda.copy()

# Filter data for Q2 2023 (April to June)
q2_data = healthcare_data[(healthcare_data['VisitYear'] == 2023) & (healthcare_data['VisitMonth'].between(4, 6))]

# Calculate NPS for Q2 2023
promoters = q2_data[q2_data['NPS Score'].between(9, 10)]
detractors = q2_data[q2_data['NPS Score'].between(0, 6)]

total_promoters = promoters.shape[0]
total_detractors = detractors.shape[0]
total_respondents = total_promoters + total_detractors

if total_respondents > 0:
    nps = ((total_promoters - total_detractors) / total_respondents) * 100
    print(nps)
else:
    nps = 0

76.69345579793341

#### Q8: In 2023 what proportion of visits in Penda Health were second visits?{A first visit is when a patient visits Penda Health for the very first time, a second visit is when the same patient visits again i.e. a second time and so on}

In [43]:
multiple_visits = penda.groupby('PatientId').size()
second_visits_count = (multiple_visits > 1).sum()

total_visits_count = healthcare_data.shape[0]

proportion_second_visits = second_visits_count / total_visits_count
proportion_second_visits

0.11000971497258402

#### Q9: What percent of visits in November 2023 happened within 30 days of the preceding visit by the same patient?

In [44]:
from datetime import datetime, timedelta

# Explicitly create a copy to avoid SettingWithCopyWarning
healthcare_data = penda.copy()

# Convert 'VisitDateTime' to datetime format
healthcare_data['VisitDateTime'] = pd.to_datetime(healthcare_data['VisitDateTime'])

# Filter visits in November 2023
november_visits = healthcare_data[(healthcare_data['VisitYear'] == 2023) & (healthcare_data['VisitMonth'] == 11)]

# Sort data by PatientId and VisitDateTime
november_visits.sort_values(by=['PatientId', 'VisitDateTime'], inplace=True)

# Calculate the difference in days between consecutive visits for each patient
november_visits['DaysSincePreviousVisit'] = november_visits.groupby('PatientId')['VisitDateTime'].diff().dt.days

# Count visits within 30 days of the previous visit
within_30_days_count = november_visits[november_visits['DaysSincePreviousVisit'] <= 30].shape[0]

total_november_visits = november_visits.shape[0]

percent_within_30_days = within_30_days_count / total_november_visits * 100

percent_within_30_days

C:\Users\User\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

77.8731269390719